/**
 * carrot標準スタイルシート 詳細画面
 *
 * @package org.carrot-framework
 * @author 小石達也 <tkoishi@b-shock.co.jp>
 */

table.detail th {
	width: 120px;
	text-align: left;
}

table.detail td {
	width: 480px;
}

table.detail td td {
	width: auto;
}
table.detail td th {
	width: auto;
}
