/**
 * carrot標準スタイルシート
 *
 * @package org.carrot-framework
 * @author 小石達也 <tkoishi@b-shock.co.jp>
 */

* {
	color: black;
	font-family: serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	text-decoration: none;
	line-break: strict;
}

pre,textarea,code,tt {
	font-family: monospace;
}

ol,ul {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -20px;
	/margin-left: 20px; /* IE6,IE7 */
}

h1,h2,h3,h4,h5,h6,h7 {
	font-family: sans-serif;
	font-weight: bold;
}

a {
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #0000d2;
}
a:hover {
	color: white;
	background-color: #0000d2;
}

img {
	border: 0;
}
img.bordered {
	border: 1px solid black;
}

del {
	text-decoration: line-through;
}

big {
	font-size: 14px;
}

small {
	font-size: 10px;
}

h1 {
	font-size: 16px;
	line-height: 22px;
	margin-top: 16px;
	margin-bottom: 0px;
}

h2 {
	font-size: 14px;
	line-height: 18px;
	margin-top: 14px;
	margin-bottom: 0px;
}

h3 {
	font-size: 12px;
	line-height: 16px;
	margin-top: 12px;
	margin-bottom: 0px;
}

li {
	list-style-type: disc;
}

table {
	border-collapse: collapse;
	border: solid 2px black;
}

table caption {
	font-family: sans-serif;
	text-align: left;
}

table th {
	vertical-align: top;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #BFFFBF;
	text-decoration: none;
	border: solid 1px black;
}

table td {
	font-family: serif;
	line-height: 14px;
	background-color: #EFEFEF;
	vertical-align: top;
	border: solid 1px black;
	word-wrap: break-word;
}

input,textarea {
	ime-mode: active;
}

input.english,textarea.english {
	ime-mode: inactive;
	font-family: monospace;
}

table tr.hide td {
	background-color: gray;
}

table tr.even td {
	background-color: #CCCCCC;
}

table tr.alert td {
	background-color: #FF6633;
}

table th.holiday {
	color: red;
}

.alert {
	color: red;
}

.smarty_preformatted {
	font-family: monospace;
	color: #333333;
}

.smarty_preformatted em {
	font-family: monospace;
	font-style: normal;
	color: navy;
}

.common_block {
	margin:6px;
	padding:3px;
	border:solid 1px gray;
}

.clearfix:after{ /*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}
.clearfix { /*for IE 5.5-7*/
	zoom:1;
}

#Contents {
	margin-left: 160px;
}

#Menu {
	font-family: sans-serif;
	background-color: #BFFFBF;
	width: 140px;
	padding: 4px;
	border: 1px solid gray;
}

#Menu ul {
	margin-left: 0;
	padding-left: 0;
}

#Menu ul li {
	list-style-type: none;
	color: white;
	font-weight: bold;
}

#Menu ul li.separator {
	height: 6px;
}

#Menu a {
	background-color: green;
	display: block;
	margin: 2px;
	width: 128px;
	color: white;
	border: 1px solid #003300;
	border-left: 8px solid #003300;
}

#Menu a:hover {
	background-color: white;
	color: gray;
}

#BreadCrumbs {
	font-family: sans-serif;
	font-weight: bold;
	background-color: #BFFFBF;
	color: white;
	padding: 1px;
	margin-bottom: 6px;
	border: 1px solid gray;
}

#BreadCrumbs a {
	background-color: green;
	display: inline-block;
	margin: 1px;
	color: white;
	border: 1px solid #003300;
	border-left: 4px solid #003300;
}

#BreadCrumbs a:hover {
	background-color: white;
	color: gray;
}

#Header {
	font-family: sans-serif;
	color: gray;
	border-bottom: solid 2px gray;
	margin-bottom: 3px;
	text-align: center;
	clear: both;
}

#Footer {
	text-align: center;
	font-family: sans-serif;
	font-size: 10px;
	color: gray;
	line-height: 12px;
	border-top: solid 2px gray;
	margin-top: 12px;
	clear: both;
}

#Footer a {
	color: gray;
	font-size: 10px;
	text-decoration: underline;
}