/**
 * carrot標準スタイルシート ログインフォーム部分
 *
 * @package org.carrot-framework
 * @author 小石達也 <tkoishi@b-shock.co.jp>
 * @version $Id: carrot.LoginForm.css 1808 2010-02-03 03:55:50Z pooza $
 */

#LoginFormContainer #Contents {
	margin-left: 0;
}

#LoginForm {
	text-align: center;
	margin: auto;
}

table.LoginPane {
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	margin-bottom: 24px;
}

table.LoginPane th {
	width: 120px;
	text-align: left;
}

table.LoginPane td {
	width: 240px;
	text-align: center;
}

table.LoginPane td.BottomCell {
	width: 360px;
}
