/*

* {
	margin: 0;
	padding: 0;
}

*/

/**************************************************************

	MultiBox
	v1.3

**************************************************************/

.MultiBoxContainer {
	position: absolute;
	border: 20px solid #000;
	background-color: #FFF;
	display: none;
	z-index: 2;
	text-align: left;
	/*overflow: hidden;*/
}

.MultiBoxLoading {
	background: url(/carrotlib/images/multibox/loader.gif) no-repeat center;
}

.MultiBoxContent {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.MultiBoxClose {
	position: absolute;
	top: -20px;
	right: -20px;
	background: url(/carrotlib/images/multibox/close.gif) no-repeat;
	width: 20px;
	height: 20px;
	cursor: pointer;
}


.MultiBoxControlsContainer {
	overflow: hidden;
	height: 0px;
	width: 100%;
	position: relative;
}

.MultiBoxControls {
	width: 100%;
	height: auto;
	background-color: #000000;
	padding-bottom: 2px;
	position: absolute;
	bottom: 0px;
}


.MultiBoxPrevious {
	position: absolute;
	background: url(/carrotlib/images/multibox/left.gif) no-repeat;
	width: 24px;
	height: 24px;
	left: 0px;
	margin-top: 5px;
	cursor: pointer;
}

.MultiBoxNext {
	position: absolute;
	background: url(/carrotlib/images/multibox/right.gif) no-repeat;
	width: 24px;
	height: 24px;
	right: 0px;
	margin-top: 5px;
	cursor: pointer;
}

.MultiBoxNextDisabled {
	cursor: default;
	background: url(/carrotlib/images/multibox/rightDisabled.gif) no-repeat;
}

.MultiBoxPreviousDisabled {
	cursor: default;
	background: url(/carrotlib/images/multibox/leftDisabled.gif) no-repeat;
}

.MultiBoxTitle {
	position: relative;
	margin: 10px 0 0 35px;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	text-align: left;
}
/* WebKit (Safari, Chrome etc) hack */
@media screen and (-webkit-min-device-pixel-ratio:0){
	.MultiBoxTitle {  
		position: static;
		padding-left: 30px;
	}  
}

.MultiBoxNumber {
	position: relative;
	width: 50px;
	margin: 10px 35px 0 0;
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: right;
}

.MultiBoxDescription {
	clear: left;
	position: relative;
	margin: 0 35px 0 35px;
	padding-top: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: left;
}



/*************************************************************/
