# .htaccess
#
# @package __PACKAGE__
# @author 小石達也 <tkoishi@b-shock.co.jp>

# エラーページ
ErrorDocument 404 /NotFound

# MIME
AddType application/x-httpd-php .php
AddType video/webm .webm

# mod_rewrite
RewriteEngine on
RewriteRule ^(.*/)*\.(svn|git)/ / [F,L]
RewriteRule ^([A-Z][A-Za-z0-9]+)/([A-Z][A-Za-z0-9]+)/([A-Za-z0-9]+)$ /carrotctl.php?m=$1&a=$2&id=$3 [L,QSA]
RewriteRule ^([A-Z][A-Za-z0-9]+)/([A-Z][A-Za-z0-9]+)$ /carrotctl.php?m=$1&a=$2 [L,QSA]
RewriteRule ^([A-Z][A-Za-z0-9]+)/$ /carrotctl.php?m=$1 [L,QSA]
RewriteRule ^([A-Z][A-Za-z0-9]+)$ /carrotctl.php?a=$1 [L,QSA]

# 大容量ファイルのアップロード
php_value post_max_size 16M
php_value upload_max_filesize 16M

# php5
php_value default_charset UTF-8
php_value mbstring.language Japanese
php_value mbstring.http_input pass
php_value mbstring.detect_order auto
php_value mbstring.internal_encoding UTF-8
php_value mbstring.script_encoding UTF-8
php_value mbstring.http_output pass
php_value date.timezone Asia/Tokyo
php_flag register_globals Off
php_flag mbstring.encoding_translation Off
php_flag magic_quotes_gpc Off
php_flag magic_quotes_sybase Off
php_flag magic_quotes_runtime Off
php_flag session.auto_start Off
php_flag session.use_cookies On
php_flag session.use_only_cookies On
php_flag session.cookie_httponly On
php_flag session.use_trans_sid Off
php_flag session.hash_function On
